
.navbar-brand {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.5px;
}

.nav-link {
  font-weight: 500;
  transition: color 0.3s;
}

.nav-link:hover,
.nav-link.active {
  color: #000000ff;
}

:root {
        --yellow-dark: #FF9B00;
        --yellow-main: #FFC900;
        --yellow-light: #FFE100;
        --bg-light: #f1f0dbff;
}
body {
        background: var(--bg-light);
}

    form input, 
form select, 
form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #fff;
}

form input:focus,
form select:focus,
form textarea:focus {
    border-color: #FFC900;
    box-shadow: 0 0 5px rgba(255, 201, 0, 0.5);
}