{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container py-4">
    <h1 class="mb-4">Best Foods in Konkan</h1>

    <div class="row g-4">
        {% for item in food_items %}
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card shadow-sm h-100">
                {% if item.photo %}
                    <img src="{{ item.photo.url }}" class="card-img-top" alt="{{ item.name }}" style="height:200px; object-fit:cover;">
                {% endif %}

                <div class="card-body">
                    <h3 class="card-title">{{ item.name }}</h3>
                    <p class="card-text text-muted">
                        {{ item.description}}
                    </p>
                      <p class="card-text text-muted">
                        {{ item.rating}} ⭐
                    </p>
                    <p class="card-text text-muted">
                    Price - {{ item.price}}
                   </p>

                    <a href="{% url 'details' item.id %}" class="btn btn-primary btn-sm">
                        View Details
                    </a>
                      <a href="{% url 'update_food' item.id %}" class="btn btn-secondary btn-sm">
                        Edit
                    </a>
                    <a href="{% url 'delete_food' item.id %}" class="btn btn-danger btn-sm">
                        Delete
                    </a>
                     <a href="{{ item.recipe_link }}" class="btn btn-info btn-sm" target="_blank">
                        Recipe
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock content %}
